#jogo-baloes{
    display: flex;
}
#cronometro{
    background-image: url('../imagens/cronometro.png');
    height: 132px;
    width: 138px;
    text-align: center;
    color: blue;
    font-size: 30px;
    font-weight: 700;
}
#baloes_inteiros, #baloes_estourados{
    color: blue;
    font-size: 30px;
    font-weight: 700;
}
#cenario{
    background-image: url('../imagens/cenario.png');
    background-position: bottom;
    height: 500px;
    width: 600px;
}
#cenario img{
    margin-left: 10px;
}
